<!DOCTYPE html>
<html>
  <head>
    <title>Hello11</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
  </head>

  <body>
<%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
